#finder {
  margin-bottom: 140px;
}

#tabs ul {
  margin: 0;
  padding: 0;
}

#tabs ul li {
  margin-bottom: 30px;
  display: inline-block;
  width: 100%;
}

#tabs ul .ui-tabs-active a {
  color: #97704f;
}

#tabs ul li a {
  text-transform: capitalize;
  width: 100%;
  padding: 30px 30px;
  display: inline-block;
  background-color: #fff;
  box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
  border-radius: 5px;
  font-size: 19px;
  color: #7a7a7a;
  letter-spacing: 0.5px;
  font-weight: 600;
  transition: all 0.3s;
}

#tabs .main-rounded-button a:hover {
  background-color: #d3ac8b;
}

#tabs .main-rounded-button {
  margin-top: 50px;
}

#tabs .main-rounded-button a {
  text-align: center;
  padding: 20px 30px;
  width: 100%;
  border-radius: 5px;
  display: inline-block;
  box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
  color: #fff;
  font-size: 19px;
  letter-spacing: 0.5px;
  font-weight: 600;
  background-color: #97704f;
}

#tabs ul li a img {
  max-width: 100%;
  margin-right: 20px;
}

.tabs-content {
  margin-left: 80px;
  text-align: left;
  display: inline-block;
  transition: all 0.3s;
}

.tabs-content img {
  max-width: 100%;
  width: 700px;
  overflow: hidden;
  border-radius: 5px;
}

.tabs-content h4 {
  font-size: 23px;
  color: #97704f;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.tabs-content a.text-button {
  margin-top: 7px;
  display: inline-block;
  font-size: 13px;
  text-transform: uppercase;
  color: #97704f;
  font-weight: 600;
}
